# Environnement virtuel
text_classifier_env/
venv/
.env

# Modèles et données (Trop lourds / Confidentiels)
models/
lightning_logs/
*.ckpt
*.csv
models_fasttext/

# Fichiers Excel : on ignore tout SAUF celui nécessaire à l'entraînement
*.xlsx
!torchTestClassifiers/data/entrainer/entrainer2_propre.xlsx

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/