# --- ENVIRONNEMENTS ---
text_classifier_env/
venv/
.env

# --- MODÈLES (Trop lourds pour GitHub) ---
# On ignore les dossiers complets
models/
models_fasttext/
lightning_logs/
*.ckpt
*.pth
*.bin

# --- DONNÉES ---
# On ignore tout l'Excel par défaut
*.xlsx
# On autorise uniquement le fichier spécifique d'entraînement
!torchTestClassifiers/data/entrainer/entrainer2_propre.xlsx

# --- MLFLOW ---
mlruns/
mlruns_old*/

# --- TEMP / PYTHON ---
__pycache__/
*.pyc
.ipynb_checkpoints/
tester/